# ── API ──
NEXT_PUBLIC_API_URL=https://caroneapi-production.up.railway.app

# ── Google OAuth ──
NEXT_PUBLIC_GOOGLE_CLIENT_ID=1098069180062-s2inkf0his8dc085nujf846jinncIni9.apps.googleusercontent.com
